# Python
__pycache__/
*.pyc

# Django / local dev
*.sqlite3
db.sqlite3

# Virtual environments
venv/
.venv/
env/
projectsite/venv/

# Collected static files
staticfiles/

# OS / IDE
.vscode/
.idea/
.DS_Store
