{% extends "base.html" %}

{% block title %}Delete Organization | PSUSphere{% endblock %}

{% block content %}
<div class="page-inner">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Delete Organization</div>
          <div class="card-category">Page Subtitle</div>
        </div>

        <div class="col-md-6">
          <div class="card-body">
            <form class="action" method="post" novalidate>
              {% csrf_token %}
              <p>Are you sure you want to delete <strong>{{ object }}</strong>?</p>
              <div class="form-group col-md-12 col-sm-3">
                <button type="submit" class="btn btn-primary btn-rounded">Submit</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
