# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/

# SQLite database
*.sqlite3

# Virtual environment
venv/
env/
psusenv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Migrations (optional – only if instructed)
# */migrations/*.py
# !*/migrations/__init__.py